.box{
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 10%;
  margin-bottom: 10%;
  border: 2px solid rgb(53, 51, 51);
  border-radius: 8px;
  padding:30px 5%;
}
.err{
  color: red;
  padding-top: 20px;
  text-align: center;
  margin-bottom: 0;
}
.space{
  margin-bottom: 20px;
}
.login{
  text-align: center;
  margin-bottom: 10px;
}
.loginb{
  color: rgb(0, 119, 255);
  font-size: 130%;
  text-align: center;
  margin-bottom: 10px;
}
.logina{
  color: red;
  text-align: center;
  margin-bottom: 10px;
}